.products{
    display: flex;
    gap: 20px;
}
.cards img{
    width: 200px !important;
    height: 200px !important;
}
.cart-section .in-cart{
    width: 500px;
    display: flex;
    gap: 30px;
    background-color: bisque;
}
.in-cart img{
    width: 50px !important;
    height: 50px !important;
}
.qty-box{
    display:flex;
    gap:10px;
    align-items:center;
}

.qty-box button{
    width:25px;
    height:25px;
    cursor:pointer;

}
